.Onas-box{
    padding: 35px;
   
}
.pOne{
    color: rgb(3, 131, 92);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 16px;
    font-weight: 600;
}


.Psec{
    
    color: rgb(3, 131, 92);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 16px;
    font-weight: 600;
}

.Pthr{
    color: rgb(3, 131, 92);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 16px;
    font-weight: 600;
}