.box-sl{
/* border: 2px solid red; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.sl-hed-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* poloprůhledný černý gradient */
    url('/back3.jpg');
    height: 300px;
    margin-bottom: 50px;
  
}
.sl-nadpis{   
    text-align: center;
    color: rgb(231, 229, 222);
    font-size: 42px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    
}
.sl-ps{
    text-align: center;
    width: 350px;
    color: rgb(248, 246, 246);
    font-size: 22px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    flex-wrap: wrap;
}
.all-box{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    margin-left: 155px;
   
}
.sl-box{
    width: 300px;
    height: auto;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(99, 98, 98);
    color: #ffff;
    border-radius: 10px;
    /* border: 2px solid rgb(255, 251, 0); */
}
.sl-id{
    
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(110, 226, 1);
    font-family: 'Times New Roman', Times, serif;
}
.sl-des{
    /* border: 2px solid rgb(255, 0, 242); */
    text-align: center;
    margin-bottom: 8px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

}
.sl-in{
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 25px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;

}
.sl-price{
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 10px;
}  
@media (max-width: 1300px){

}