.Contact-Box{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.imgCon{
    margin-bottom: 5px;
    margin-top: 25px;
    width: 90px;
   }
.telP{
    margin-top: 25px ;
    margin-bottom: 10px;
    color: rgb(3, 131, 92);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 16px;
    font-weight: 600;}
.telNum{
    padding: 5px ; 
    color: rgb(3, 131, 92);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 15px;
    font-weight: 600;
}
.telNum:hover {
    background-color: rgb(179, 129, 22);
    transform: scale(1.15);
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 10px 22px rgb(8, 8, 8);
    border-radius: 25px;
    transition: 0.2s;
  }

  .telNum:active {
    transform: scale(1.3);
    font-weight: 600;
    
  }

